{% extends "layout.html" %}

{% block title %}
    BEST BIKE TOUR ON CDMX
{% endblock %}

{% block main %}
<div class="airbnb-embed-frame" data-id="158113" data-view="experience" style="width: 1240px;px;height:599px;margin:auto">
    <a href="https://www.airbnb.com/experiences/158113?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a>
    <a href="https://www.airbnb.com/experiences/158113?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">⭐⭐⭐Sights on Bikes - 20+ Must-See Sights</a>
    <script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script>
</div>    
{% endblock %}