{% extends "layout.html" %}

{% block title %}
    BEST BIKE TOUR ON CDMX
{% endblock %}

{% block main %}

<h1>20+ Must-See Sights on CDMX</h1>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{{url_for('static', filename='1.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>    
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='2.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='3.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='4.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='5.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='6.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='7.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='8.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='9.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='10.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='11.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='12.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='13.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='14.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='15.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='16.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='17.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='18.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='19.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='20.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='21.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='22.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='23.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='24.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='25.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='26.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='27.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='28.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='29.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='30.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='31.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='32.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='33.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='34.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='35.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='36.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='37.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='38.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='39.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='40.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='41.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='42.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='43.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='44.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='45.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='46.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='47.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='48.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='49.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='50.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='51.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='52.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='53.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='54.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
    <div class="carousel-item " data-bs-interval="5000">
      <img src="{{url_for('static', filename='55.jpg')}}" class="d-block w-50 mx-auto" alt="Biking on CDMX">
    </div>
  </div>
</div>    
{% endblock %}